name: Build and publish

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build:
    name: Build ${{ matrix.arch }} add-on
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [amd64, armv7, armhf, aarch64]
    steps:
    - name: Check out repository
      uses: actions/checkout@v3
    
    - name: Get information
      id: info
      uses: home-assistant/actions/helpers/info@master
      with:
        path: "./azure_foundry_ai"
    
    - name: Build add-on
      uses: home-assistant/builder@master
      with:
        args: |
          --${{ matrix.arch }} \
          --target ./azure_foundry_ai